.lanting-editor-dropdown {
  z-index: 5;
  position: absolute;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
  border-radius: 8px;
  min-width: 100px;
  background-color: var(--bg-color);
  display: block;
  padding: 8px;

  &-item {
    display: flex;
    border-radius: 4px;
    padding: 0px 8px 0px 0;
    align-items: center;
    cursor: pointer;
    color: var(--primary-text);

    &:hover {
      background-color: var(--hover-overlay);
    }
  }
}
