.lanting-formitem {
  position: relative;
  display: flex;
  flex-direction: column;

  .label {
    color: var(--primary-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;

    &::after {
      content: ':';
    }
  }

  &--horizontal {
    flex-direction: row;

    .label {
      margin-right: 16px;
      width: 120px;
    }
  }

  &--error {
    input {
      border-color: var(--warning-color);
    }
  }

  .wrapper {
    position: relative;
    margin-bottom: 16px;
    padding-bottom: 24px;

    .formitem {
      min-height: 32px;
      line-height: 32px;

      input,
      textarea {
        min-width: 180px;
      }
    }

    .message {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
