.lanting-button {
  border: none;
  cursor: pointer;
  outline: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 8px;
  height: 32px;
  line-height: 32px;
  border-radius: 6px;
  font-weight: 600;
  font-size: inherit;

  transition: background 200ms;

  &-contained {
    &--primary {
      background-color: var(--primary-button-background);
      color: var(--primary-button-text);

      &:hover {
        background-color: #1771e6;
      }
    }

    &--secondary {
      background-color: var(--secondary-button-background);
      color: var(--primary-text);

      &:hover {
        background-color: var(--hover-overlay);
      }
    }
  }

  &-text {
    background-color: transparent;
    color: var(--primary-text);

    &:hover {
      background-color: var(--hover-overlay);
    }
  }

  &-icon {
    padding: 0;
  }

  &--disabled {
    opacity: 0.65;
    pointer-events: none;
  }

  &--active {
    background-color: var(--active-color);
  }

  &--wide {
    width: 100%;
  }

  &:active {
    transform: scale(0.98);
  }
}
