.lanting-button {
  border: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 16px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  font-weight: 600;
  font-size: inherit;
  min-width: 78px;
  text-transform: capitalize;

  transition: background 200ms;

  &-contained {
    &--primary {
      background-color: var(--primary-button-background);
      color: var(--primary-button-text);

      .lanting-icon {
        color: var(--primary-button-text);
      }

      &:hover {
        background-color: #1771e6;
      }
    }

    &--secondary {
      background-color: var(--secondary-button-background);
      color: var(--primary-text);

      .lanting-icon {
        color: var(--primary-text);
      }

      &:hover {
        background-color: var(--hover-overlay);
      }
    }
  }

  &-text {
    background-color: transparent;
    color: var(--secondary-text);

    &:hover {
      background-color: var(--hover-overlay);
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    margin-left: -4px;
  }

  &-icononly {
    padding: 0;
    min-width: auto;
    width: 32px;

    .lanting-button-icon {
      margin: 0;
    }
  }

  &--disabled {
    opacity: 0.65;
    pointer-events: none;
  }

  &--active {
    background-color: var(--active-color);
  }

  &--wide {
    width: 100%;
  }

  &:active {
    transform: scale(0.98);
  }
}
