.lanting-edit {
  max-width: 48rem;
  padding: 1.5rem 0;
  margin: 0 auto;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .lanting-input {
      width: 80%;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &-actions {
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  &-actions,
  &-visibility {
    display: flex;
    align-items: center;
  }

  &-visibility {
    user-select: none;
    cursor: pointer;
    color: var(--secondary-text);
  }
}
