.lanting-profile-edit {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .form {
    max-width: 100%;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;

    .avatar {
      position: relative;
    }
    .lanting-upload {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .username {
      font-size: 24px;
      font-weight: 500;
      margin-top: 16px;
    }
  }

  .save {
    display: flex;
    justify-content: center;
  }

  .lanting-input,
  .lanting-textarea {
    width: 300px;
  }
}

.lanting-profile-cropper {
  width: 400px;

  &-container {
    margin: 16px;
  }

  .footer {
    margin: 16px;
    display: flex;
  }
}
