.lanting-user {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &-name {
    margin-left: 6px;

    &--hl {
      color: var(--anchor-color);
    }
  }

  &:hover & {
    &-name {
      color: var(--anchor-color);
    }
  }
}
