.lanting-toast {
  position: fixed;
  z-index: 9999;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  pointer-events: none;

  &-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transition: all 230ms cubic-bezier(0.21, 1.02, 0.73, 1);

    .lanting-icon {
      margin: 0 -8px 0 8px;
    }
  }

  &-bar {
    pointer-events: all;
    background-color: var(--toast-bg);
    border-radius: 6px;
    padding: 6px 16px;
    box-shadow: var(--box-shadow);
    animation: slideIn 300ms ease-in-out;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 48px;
    width: 344px;

    &--slideout {
      animation: slideOut 230ms ease-in-out forwards;
    }
  }

  &-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(171, 148, 148);
    height: 2px;
    animation: shrink 3000ms linear forwards;
  }
}

@keyframes slideIn {
  0% {
    transform: translate3d(0, -200%, 0) scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translate3d(0, 0, -1px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -150%, -1px) scale(0.6);
    opacity: 0;
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
