.stylecontrols {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #999;
    margin: 0.25rem;
    cursor: pointer;
    line-height: 1.125rem;

    &--active,
    &:hover {
      color: #333;
    }
  }
}
