.lanting-profile {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;

  &-header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 16px;
    flex-direction: column;
    align-items: center;
  }

  &-avatar {
  }

  &-name {
    height: 1em;
  }
}
