.prismjscode {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  border-radius: 4px;
  overflow: hidden;
  margin: 1em 0;
  border: 1px solid #2d2d2d;

  &-header {
    display: flex;
    padding: 5px 1em;
    align-items: center;
    justify-content: space-between;
  }

  &-switch {
    color: #595959;
    width: 150px;
  }

  pre[class*='language-'] {
    margin: 0;
  }
}
