.lanting-item {
  display: flex;
  border-radius: 4px;
  padding: 4px 8px;
  align-items: center;
  cursor: pointer;
  color: var(--primary-text);
  font-weight: 500;

  .lanting-icon {
    padding: 0;
    margin-right: 12px;
  }

  &:hover {
    background-color: var(--hover-overlay);
  }
}
