.lanting-icon {
  padding: 0.25rem;
  color: var(--icon-color);
  position: relative;
  user-select: none;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  height: 32px;
  width: 32px;

  &--clickable {
    cursor: pointer;
  }

  &-round {
    border-radius: 50%;
  }
}
