.lanting-icon {
  padding: 0.25rem;
  color: var(--icon-color);

  &--clickable {
    cursor: pointer;

    &:hover {
      border-radius: 5px;
      background-color: var(--hover-overlay);
    }
  }
}
