.lanting-icon {
  padding: 0.25rem;
  color: var(--icon-color);
  position: relative;
  user-select: none;
  font-style: normal;
  line-height: 1;
  display: inline-flex;

  &--clickable {
    cursor: pointer;
  }

  &-round {
    border-radius: 50%;
  }
}
