.lanting-article {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;

  &-title {
    text-align: center;
    margin-bottom: 6px;
  }

  &-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text);
    position: relative;

    > * {
      margin: 0 4px;
    }

    &-edit {
      font-size: 1.2rem;
      position: absolute;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover & {
      &-edit {
        opacity: 1;
      }
    }
  }
}
