.lanting-article {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;

  &-title {
    text-align: center;
    margin-bottom: 6px;
  }

  &-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text);
    position: relative;
    margin: 18px 0;

    .lanting-date {
      margin-left: 12px;
    }

    &-actions {
      position: absolute;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s;
      font-size: 1.2rem;

      .lanting-icon {
        margin: 0 4px;
      }
    }

    &:hover & {
      &-actions {
        opacity: 1;
      }
    }
  }
}
