.lanting-modal {
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--overlay);
    user-select: none;
    z-index: 300;
  }

  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 400;
    overflow: auto;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 76px 0.5rem;
    min-height: 100vh;
  }

  &-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &-body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 100%;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
      inset 0 0 0 1px var(--shadow-inset);
    pointer-events: auto;
  }

  &-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid var(--media-inner-border);
  }

  &-title {
    font-size: 1.25rem;
    text-transform: capitalize;
  }

  &-close {
    position: absolute;
    right: 16px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
      background-color: var(--hover-overlay);
    }
  }

  &-content {
    flex: 1;
  }
}
