.lanting-comments {
  &-header {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    .lanting-icon {
      margin-right: 4px;
    }

    &-total {
      color: var(--secondary-text);
      margin-left: 8px;
    }
  }

  &-comment {
    display: flex;
    padding: 8px 0;
    margin-bottom: 16px;
  }

  &-wrapper {
    padding-left: 6px;
    flex: 1;
  }

  &-reply {
    margin: 22px 0 36px;

    &-content {
      display: flex;
    }

    &-action {
      margin-top: 16px;
      display: flex;
      justify-content: flex-end;
    }

    &-info {
      display: inline-flex;
    }
  }

  &-textarea {
    margin: 0 0 0 6px;
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    resize: none;
    outline: none;
    border-radius: 6px;
    flex: 1;
    transition: height 200ms ease-in-out;
    height: 40px;
    background-color: transparent;

    &:focus,
    &:not(:empty) {
      height: 88px;
    }
  }

  &-replier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    .lanting-user-name {
      margin-left: 0;
    }

    .lanting-date {
      margin-left: 8px;
      color: var(--secondary-text);
      font-size: 14px;
      height: auto;
    }
  }

  &-interlocutor {
    display: inline-flex;
    align-items: center;
    margin-right: 4px;

    &::after {
      content: ':';
    }
  }

  &-text {
    display: inline;
  }

  &-actions {
    display: flex;
    align-items: center;
    margin-top: 16px;

    .lanting-button {
      font-size: 14px;
    }
  }

  &-article {
    border-radius: 4px;
    // background-color: #eee;
    padding: 4px 8px;
    margin-top: 6px;
    cursor: pointer;
    color: var(--secondary-text);
    border: 1px solid var(--border-color);
  }
}
