@import 'styles/mixin/underline';

.lanting-post {
  padding: 1rem 0;

  &-header {
  }

  &-anchor {
    text-decoration: none;
    color: inherit;
  }

  &-title {
    font-size: 1.125rem;
    font-weight: 500;
    position: relative;
    display: inline;
    cursor: pointer;
    margin: 0;
    @include underline;
    line-height: 1;
  }

  &-content {
    font-size: 0.9rem;
    color: var(--secondary-text);
    font-weight: 500;
    margin-top: 0.5rem;
  }

  &-footer {
    font-size: 0.875rem;
    color: var(--secondary-text);
    margin-top: 0.75rem;
  }
}
