.lanting-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &-clickable {
    cursor: pointer;
  }

  &-small {
    width: 32px;
    height: 32px;
  }

  &-large {
    width: 80px;
    height: 80px;
  }

  &-round {
    border-radius: 50%;
  }

  &-round & {
    &-img {
      border-radius: 50%;
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    padding: 4px;
  }

  &-account {
    fill: var(--icon-color);
    width: 100%;
    height: 100%;
  }
}
