.mark-button {
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 0.57rem;

  color: var(--secondary-text);

  &--active {
    color: var(--primary-text);
  }

  &:hover {
    background-color: var(--hover-color);
  }
}
