.lanting-tooltip {
  display: inline-block;

  &-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  &-content {
    padding: 5px 6px;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    background-color: var(--tooltip-bg);
    font-size: 12px;
    color: var(--tooltip-text-color);
    animation: fadeIn 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}

@supports (display: contents) {
  .lanting-tooltip {
    display: contents;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
