:root {
  font-size: 16px;
  line-height: 1.5;

  &.light {
    --primary-text: #050505;
    --secondary-text: #65676b;
    --active-color: #eff2f5;
  }

  &.dark {
    --primary-text: #e4e6eb;
    --secondary-text: #b0b3b8;
    --active-color: #3a3b3c;
    --bg-color: #18191a;
  }
}

body {
  margin: 0;
  font: 400 16px / 1.5 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--primary-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(./assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(./assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(./assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
