@import './styles/theme/light.scss';
@import './styles/theme/dark.scss';

:root {
  --warning-color: #ff4d4f;

  &.light {
    @extend %light;
  }

  &.dark {
    @extend %dark;
  }
}

html {
  font-size: 16px;
  line-height: 1.5;
  font: 400 16px / 1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--primary-text);

  &.theme-fade {
    transition: background 300ms ease;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--anchor-color);
}
