%dark {
  --primary-text: #e4e6eb;
  --secondary-text: #b0b3b8;
  --active-color: #3a3b3c;
  --bg-color: #18191a;
  --hover-overlay: rgba(255, 255, 255, 0.2);
  --primary-button-text: #fff;
  --primary-button-background: #2d88ff;
  --secondary-button-background: rgba(255, 255, 255, 0.1);
  --disabled-button-background: rgb(255 255 255 / 20%);
  --disabled-text: rgb(255 255 255 / 30%);
  --overlay: rgb(11 11 11 / 80%);
  --gallery-overlay: rgb(11 11 11 / 90%);
  --card-background: #242526;
  --icon-color: #9aa0a6;
  --anchor-color: #8ab4f8;
  --tooltip-text-color: #f8f9fa;
  --tooltip-bg: #424548;

  --shadow-1: rgb(0 0 0 / 10%);
  --shadow-2: rgb(0 0 0 / 20%);
  --shadow-inset: rgb(255 255 255 / 5%);
  --box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);

  --toast-bg: #313131;
  --tabs-hl-bg: #333;

  --media-inner-border: rgb(255 255 255 / 5%);

  --border-radius: 4px;
  --border-color: rgb(255 255 255 / 5%);
  --code-bg-color: #2f3b4d;
  --text-code-bg: hsla(0, 0%, 100%, 0.1);
}
