%dark {
  --primary-text: #e4e6eb;
  --secondary-text: #b0b3b8;
  --active-color: #3a3b3c;
  --bg-color: #18191a;
  --hover-overlay: rgba(255, 255, 255, 0.2);
  --primary-button-text: #fff;
  --primary-button-background: #2d88ff;
  --secondary-button-background: rgba(255, 255, 255, 0.1);
  --disabled-button-background: rgb(255 255 255 / 20%);
  --disabled-text: rgb(255 255 255 / 30%);
  --overlay: rgb(11 11 11 / 80%);
  --card-background: #242526;
  --icon-color: #9aa0a6;

  --shadow-1: rgb(0 0 0 / 10%);
  --shadow-2: rgb(0 0 0 / 20%);
  --shadow-inset: rgb(255 255 255 / 5%);

  --media-inner-border: rgb(255 255 255 / 5%);

  --border-radius: 4px;

  --code-bg-color: #2f3b4d;
}
