%light {
  --primary-text: #050505;
  --secondary-text: #65676b;
  --active-color: #eff2f5;
  --bg-color: #fff;
  --secondary-icon: #65676b;
  --hover-overlay: #d9dade;
  --primary-button-text: #fff;
  --primary-button-background: #1877f2;
  --secondary-button-background: #e4e6eb;
  --disabled-button-background: #e4e6eb;
  --disabled-text: #bcc0c4;
  --overlay: rgb(244 244 244 / 80%);
  --card-background: #ffffff;

  --shadow-1: rgb(0 0 0 / 10%);
  --shadow-2: rgb(0 0 0 / 20%);
  --shadow-inset: rgb(255 255 255 / 5%);

  --media-inner-border: rgb(0 0 0 / 10%);

  --border-color: rgb(0 0 0 / 10%);
}
