%light {
  --primary-text: #050505;
  --secondary-text: #65676b;
  --active-color: #eff2f5;
  --bg-color: #fff;
  --secondary-icon: #65676b;
  --hover-overlay: #d9dade;
  --primary-button-text: #fff;
  --primary-button-background: #1877f2;
  --secondary-button-background: #e4e6eb;
  --disabled-button-background: #e4e6eb;
  --disabled-text: #bcc0c4;
  --overlay: rgb(244 244 244 / 80%);
  --card-background: #ffffff;
  --icon-color: #5f6368;
  --anchor-color: #1a73e8;
  --tooltip-text-color: #f8f9fa;
  --tooltip-bg: #424548;

  --shadow-1: rgb(0 0 0 / 10%);
  --shadow-2: rgb(0 0 0 / 20%);
  --shadow-inset: rgb(255 255 255 / 5%);
  --box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);

  --toast-bg: #fff;

  --media-inner-border: rgb(0 0 0 / 10%);

  --border-color: rgb(0 0 0 / 10%);
  --border-radius: 4px;

  --code-bg-color: #eee;
}
