.lanting-nav {
  height: 3rem;

  &-inner {
    max-width: 48rem;
    margin: 0 auto;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    display: flex;
    align-items: flex-end;
    line-height: 1;
  }

  &-link {
    text-decoration: none;
    color: var(--primary-text);
  }

  &-name {
    margin: 0;
  }

  &-bio {
    color: var(--secondary-text);
    margin-left: 0.5rem;
    font-size: 0.875rem;

    @media (max-width: 460px) {
      display: none;
    }
  }

  &-icons {
    display: flex;
    align-items: center;
  }

  &-edit {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    color: var(--secondary-icon);
  }

  &-lang {
    padding: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  &-theme {
    font-size: 1.25rem;
    cursor: pointer;
    user-select: none;
    margin-left: 0.2rem;
  }

  .lanting-avatar {
    margin: 4px;
  }
}
